* {
    margin: 0;
    padding: 0;
}

.burger-btn span{
    background-color: #C7A25D !important;
}

body {
    background-color: black;
    font-family: 'Forum', serif;
    position: relative;
}

.container{
    overflow: hidden;
    margin: 0 auto;
    max-width: 75vw;
}

.block-1{
    font-size: 25px;
}

.block-1 .navigation{
    margin: 0 auto;
    max-width: 820px;
}

.block-1 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}


.block-1 a{
    text-decoration: none;
    color: white; 
}

.block-2{
    padding-top: 90px;
    color: white;
    text-align: left;
}

.block-2 .text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1165px;
    justify-content: space-evenly;

}

.block-2 .where{
    font-size: 75px;
    color: #C7A25D;
}

.where, .text-1, .text-2{
    padding-bottom: 70px;
}

.block-2 .text-1, .block-2 .text-2{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.block-2 .text-1{
    text-align: right;
}

.block-2 .text-2 span{
    font-weight: 600;
}

.block-3{
    padding-top: 20px;
}

.block-3 .content{
    max-width: 1160px;
    margin: 0 auto;
    color: white;
    font-size: 35px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.block-3 #time{
    font-size: 45px;
    color: #C7A25D;
    text-align: right;
}

.block-3 .schedule{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 25px;
}

.block-3 #what{
    text-decoration: underline;
}

.block-3 .map{
    width: 35vw;
}

.block-4{
    color: white;
    padding-top: 80px;
}

.block-4 .content{
    max-width: 1160px;
    margin: 0 auto;
}

.block-4 .contacts{
    color: #C7A25D;
    font-size: 75px;
    text-align: center;
    padding-bottom: 90px;
}

.block-4 .aboba{
    display: flex;
    justify-content: right;
}

.block-4 .info{
    width: 60%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    line-height: 101.4%; 
    z-index: 2;

    /* max-height: 530px; */
}

.block-4 .phones{
    /* padding-top: 90px; */
    text-align: right;
    display: flex;
    width: 100%;
    justify-content: right;
}

.block-4 .time{
    max-width: 365px;
    padding-top: 90px;
}

#bottom-woman{
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

@media (max-width: 1200px){

    .block-2 .where, .block-4 .contacts{
        font-size: 60px;
    }

    
    .block-2 .text-1, .block-2 .text-2{
        font-size: 20px;
    }

    .block-3 .content{
        font-size: 25px;
    }

}

@media (max-width: 1000px){



    .block-2 .where, .text-1, .text-2{
        padding-bottom: 50px;
    }

    .block-2 .where, .block-4 .contacts{
        font-size: 45px;
    }

    .block-2 .text-1, .block-2 .text-2{
        font-size: 16px;
    }


    .block-3 .content{
        font-size: 25px;
        display: block;
    }

    .block-3 #time{
        font-size: 35px;
        text-align: center;
    }

    .block-3 .second{
        text-align: right;
    }

    .block-3 .map{
        padding-top: 20px;
        width: 100%;
    }
    

    .block-4 .contacts{
        padding-bottom: 60px;
    }

    .block-4 .info{
        font-size: 20px;
    }

}

@media (max-width: 800px){

    .block-2 .where, .text-1, .text-2{
        padding-bottom: 30px;
    }

    .block-2 .where, .block-4 .contacts{
        font-size: 35px;
    }

    .block-2 .text-1, .block-2 .text-2{
        font-size: 15px;
    }

    .block-3 .schedule{
        row-gap: 10px;
    }

    .block-3 #time{
        font-size: 30px;
    }

    .block-3 .content{
        font-size: 18px;
    }

    .block-4 .info{
        font-size: 15px;
    }
}

@media (max-width: 600px){
    .block-2{
        padding-top: 50px;
    }

}


@media (min-width: 300px){
    .block-4 {
        height: 450px;
    }

    .block-4 .time{
        padding-top: 60px;
    }

    .block-4 .contacts{
        padding-bottom: 30px;
    }
}


@media (min-width: 400px){
    .block-4 {
        height: 500px;
    }
}

@media (min-width: 600px){
    .block-4 {
        height: 600px;
    }
}


@media (min-width: 800px){
    .block-4 {
        height: 700px;
    }
}

@media (min-width: 1000px){
    .block-4 {
        height: 900px;
    }
}

@media (min-width: 1200px){
    .block-4 {
        height: 1100px;
    }
}

@media (min-width: 1600px){
    .block-4 {
        height: 1300px;
    }
}

@media (min-width: 1800px){
    .block-4 {
        height: 1500px;
    }
}