* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C28D61;
    font-family: 'Forum', serif;
    color: #5D1A14;
}

.container{
    margin: 0 auto;
    max-width: 75vw;
}

.block-1{
    font-size: 25px;
}

.block-1 .navigation{
    margin: 0 auto;
    max-width: 820px;
}

.block-1 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}


.block-1 a{
    text-decoration: none;
    color: #5D1A14; 
}

.block-2{
    text-align: center;
    padding-top: 90px;
    font-size: 75px;
    padding-bottom: 45px;
}

.block-3{
    font-family: "Montserrat", sans-serif;
}

.block-3 .events{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    row-gap: 70px;
}


.block-3 .event{
    background-color: #D4C4B69E;
    box-shadow: 3px 6px 4px 0px #00000040;
    padding: 20px 15px 20px 30px;
}

.block-3 .day{
    display: flex;
    align-items: center;
    grid-gap: 50px;
}

.block-3 .when span{
    font-weight: 800;
}

.block-3 .when{
    text-align: center;
    max-width: 175px;
    font-size: 45px;
}

.block-3 .what{
    text-align: left;
    font-size: 25px;

}

.block-4{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-gap: 80px;
    padding-top: 80px;
    max-width: 1160px;
    font-size: 30px;
    padding-bottom: 100px;
}

.block-4 .wait{
    font-size: 65px;
    text-align: center;
}

@media (max-width: 1200px){
    .block-2, .block-4 .wait{
        font-size: 60px;
    }
    .block-3 .day{
        gap: 40px;
    }

    .block-3 .when{
        font-size: 35px;
    }

    .block-3 .what{
        font-size: 22px;
    }
}

@media (max-width: 1000px){
    .block-2, .block-4 .wait{
        font-size: 55px;
    }

    .block-3 .what{
        font-size: 20px;
    }
    
    .block-4 .info{
        text-align: center;
        font-size: 25px;
    }
}

@media (max-width: 800px){
    .block-3 .events{
        row-gap: 50px;
    }

    .block-3 .event{
        padding: 10px 15px 10px 20px;
    }
    .block-2, .block-4 .wait{
        font-size: 50px;
    }
    .block-3 .day{
        gap: 30px;
    }

    .block-3 .when{
        font-size: 25px;
    }

    .block-3 .what{
        font-size: 18px;
    }

    .block-4{
        padding-top: 60px;
    }
}

@media (max-width: 600px){
    .block-3 .events{
        row-gap: 35px;
    }

    .block-2{
        padding-top: 50px;
    }
    .block-2, .block-4 .wait{
        font-size: 40px;
    }
    .block-3 .day{
        gap: 20px;
    }

    .block-3 .when{
        font-size: 20px;
    }

    .block-3 .what{
        font-size: 15px;
    }

    .block-4 .info{
        text-align: center;
        font-size: 20px;
    }
}

@media (max-width: 450px){
    .block-3 .day{
        display: flex;
        flex-direction: column;
    }

    .block-3 .event{
        padding-left: 10px;
        padding-right: 10px;
    }

    .block-3 .what{
        text-align: center;
    }

    .block-3 .when{
        border-bottom: #C28D61 solid 2px;
    }
}