* {
    margin: 0;
    padding: 0;
}

body {
    color: #252525; 
    font-family: 'Forum', serif;
}

.container{
    margin: 0 auto;
    max-width: 85vw;
}

[class*="-text"]{
    font-size: 65px;
}

[class*="-text-2"]{
    padding-top: 11px;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    overflow: hidden;
}



.block-1{
    font-size: 25px;
    background-image: url('../src/tree.png');
    height: calc(0.75 * 100vw);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#main-grad{

    position: absolute;
    width: 100%;
    bottom: -10px;
}

.navigation{
    margin: 0 auto;
    max-width: 820px;
}

.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}


.menu a{
    text-decoration: none;
    color: #252525; 
}

.intro-block{
    padding-top: 191.2px;
    text-align: center;
}

.intro-block .real{
    padding-top: 41.5px;
    font-size: 75px;
}

.intro-block .desc{
    padding-top: 40px;
    margin: 0 auto;
    max-width: 407px;
    font-family: 'Montserrat', sans-serif;
}

.gradient{
    overflow: hidden;
    /* background-image: url('../src/back.svg');
    background-size: cover;
    width: 100%;
    max-width: 85vw;
    margin: 0 auto; */

    background: linear-gradient(180deg, #7F9CBC 10.24%, #000 21.65%);
    }

.block-2 {
    padding-top: 140px;
    color: white;
}

.block-2 .content {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    flex-direction: column;
}

.womanlook img{
    width: 100%;
    max-width: 600px;
    float: left;

}

/* .womanlook{
    display: flex;
    align-items: center;
} */

.block-2 .woman-and-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 25px;
}

.text {
    text-align: left;
    max-width: 500px;
}

.question{
    font-size: 60px;
    text-align: left;
    padding-bottom: 30px;
}

.sur-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
    column-gap: 15px;
}

.block-2 span{
    color: #9B322C;
    font-weight: 400;
}

.description{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    max-width: 500px;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 145px;
}

.quote-txt{
    max-width: 410px;
    font-size: 25px;
}

.quote .author{
    text-align: right;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.block-3{
    position: relative;
    padding-top: 90px;
    color: black;
}

.block-3 .intro-text{
    font-size: 45px;
    text-align: center;
}

.block-3 .intro-text span{
    color: #A80606;
}

.block-3 .dive{
    padding-top: 130px;
    display: flex;
    flex-direction: column;
}


.block-3 .dive-text-2{
    max-width: 360px;
}

.block-3 .shagal-pic{
    position: absolute;
    top: 0px;
    right: -100px;
}


.text-and-pic{
    /* display: flex; */
    margin: 0 auto;
    /* justify-content: space-evenly; */
    overflow: hidden;
    max-width: 1160px;
}

.block-4{
    padding-top: 600px;
    text-align: center;
}

.block-4 .content{
    display: flex;
    justify-content: space-around;
    max-width: 1075px;
    margin: 0 auto;
    column-gap: 15px;
}

.block-4 #left, .block-4 #right{
    max-width: 273px;
    height: auto;
}

.block-4 #right{
    transform: rotate(15deg);
}

.block-4 #left{
    scale: -1 1;
    transform: rotate(15deg);
}

.block-4 .look{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block-4 .look-text{
    /* font-size: 65px; */
    color: #A80606;
}

.block-4 .look-text-2{
    max-width: 316px;
}

.block-5{
    padding-top: 185px;
}

.block-5 .content{
    max-width: 1060px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.block-5 .man-pic{
    max-width: 724px;
    position: relative;
    overflow: hidden;
}

.block-5 #left-grad{
    position: absolute;
    left: -50px;
}

.block-5 #bottom-grad{
    position: absolute;
    bottom: -50px;
    left: 0;
}

.block-5 #man{
    width: 100%;
}

.block-5 .find{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.block-5 .find-text{
    color: #C7A25D;
}

.block-6{
    padding-top: 186px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 25px;
}

.block-6 .dali-q{
    max-width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block-6 .dali-q span{
    color: #AF5013;
}

.block-6 .dali-pic{
    max-width: 580px;
}

#dali-pic{
    width: 100%;
}

[class*="-q"]{
    font-size: 40px;
    color: white;
}

.block-7{
    max-width: 1160px;
    padding-top: 225px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    column-gap: 15px;
}

.block-7 .pic{
    max-width: 300px;
}

.block-7 #kahlo-1, .block-7 #kahlo-2{
    border-radius: 50%;
    width: 100%;
}

.block-7 .kahlo-q{
    display: flex;
    flex-direction: column;
    max-width: 525px;
    width: 100%;
    justify-content: space-evenly;
}


.block-7 .kahlo-q .second{
    text-align: center;
}

.block-7 .kahlo-q .third{
    text-align: right;
    padding-right: 15px;
}

.block-7 .kahlo-q .forth{
    color: #6781DE;
    text-align: center;
}

.block-8{
    padding-top: 200px;
    display: flex;
    text-align: right;
    justify-content: space-around;
}

.block-8 .pic{
    max-width: 595px;
    position: relative;
}

.block-8 #left-grad{
    position: absolute;
    left: -10px;
}

.block-8 #human-son{
    width: 100%;
}

.block-8 .magritte-q{
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-8 .magritte-q span{
    color: #AADB42;
}


.block-8 .magritte-q .symbol{
    max-width: 435px;
}

.block-8 .not-an-apple{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-8 .apple{
    max-width: 190px;
}

.block-8 .apple img{
    width: 100%;
}

.block-8 .apple-text{
    display: flex;
    flex-direction: column;

}

.block-8 #arrow{
    scale: 0.5;
}

.block-8 .why{
    font-size: 25px;
    max-width: 141px;
}

.block-8 #why span{
    color: #A80606;
}

.block-9{
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    padding-top: 175px;
    text-align: right;
}

.block-9 .text-freud{
    display: flex;
    max-width: 875px;
    width: 100%;
    justify-content: space-between;
}

.block-9 #book-pic{
    max-width: 370px;
    position: absolute;
    left: 0;
    top: 300px;
    transform: rotate(-16.5deg);
}

.block-9 .freud-q{
    max-width: 535px;
    padding-right: 25px;
}

.block-9 .freud-q span{
    color: #6F7166;
}

.block-9 .freud-pic{
    max-width: 285px;
}

.block-9 #freud{
    width: 100%;
    border-radius: 1000px 1000px 0 0;
}

.block-10{
    overflow: hidden;
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block-10 .kush-q span{
    color: #7731BC;
}

 .pics{
    max-width: 2070px;
    padding-top: 120px;
    float: center;
}

.pics img{
    overflow: hidden;
    width: 100%;
    scale: 1.2;
}

.block-11{
    margin: 0 auto;
    padding-top: 190px;
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
}

.block-11 .garden{
    max-width: 420px;
}

.block-11 .garden img{
    width: 100%;
    border-radius: 0px 1000px 1000px 0px
}

.block-11 .bosch-q span{
    color: #E6485C;
}

.block-11 .bosch-text{
    display: flex;
    align-items: center;
    max-width: 325px;
}

.block-11 .hell {
    max-width: 535px;
}

.block-11 .hell img{
    width: 100%;
    border-radius: 1000px 0 0 1000px;
}

.block-12{
    color: white;
    text-align: center;
    padding-top: 105px;
    display: flex;
    flex-direction: column;
    row-gap: 54px;
    padding-bottom: 100px;
}

.block-12 .all{
    font-size: 30px;
}

.block-12 .exhibition{
    font-size: 65px;
    font-family: 'Source Serif 4', serif;
}

.block-12 .buy{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    background-color: transparent;
    border-radius: 1000px 0 1000px 0;
    color: #9F4617;
    border: 4px solid #9F4617;
    text-decoration: none;
    cursor: pointer;
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
