* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #4B1A14;
    font-family: 'Forum', serif;
    position: relative;
}

.container{
    margin: 0 auto;
    max-width: 75vw;
}

.block-1{
    font-size: 25px;
}

.block-1 .navigation{
    margin: 0 auto;
    max-width: 820px;
}

.block-1 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}


.block-1 a{
    text-decoration: none;
    color: #9BCDCA; 
}

.block-2{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-2 .main-text{
    text-align: center;
}

.block-2 .main-text #first{
    color: #8EB2B0;
    font-size: 75px;
}

.block-2 .main-text #second, .block-2 .list{
    color: #D9C5A1;
    font-size: 35px;
}

.block-2 .main-text #second{
    padding-top: 90px;
}

.block-2 .list{
    margin: 0 auto;
    line-height: 45px;
    padding-top: 75px;
    max-width: 1160px;
}

.block-2 .list span{
    text-decoration: underline;
}

.block-2 .list li{
    list-style-type: square;
}

.block-3{
    padding-top: 120px;
}

.block-3 .ticket-list{ 
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    
    border: 1px solid black;
    background-color: rgba(142, 178, 176, 0.78);
    box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 55px;
    max-width: 1160px;
}

.block-3 .cat{
    width: 100%;
    /* padding: 25px 0px 25px 0px; */
    padding-top: 25px;
    padding-bottom: 25px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    border-bottom: 2px solid black;
}

.block-3 .name{
    max-width: 255px;
    width: 100%;
}


.block-3 .cost{
    color: #4B1A14;
    /* font-size: 30px; */
    font-weight: 600;
    max-width: 80px;
    width: 100%;
    text-align: left;
}

.block-3 .sub, .block-3 .add{
    /* box-shadow: 0 3px 20px rgba(0,0,0,.25); */
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
inset 0 2px 0 rgba(255, 255, 255, 0.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);
    
    flex: 0 0 45px;
    border: none;
    border-radius: 50%;
    height: 45px;
    background-color: #D9C5A1;
    color: black;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center; 
}

.block-3 .num input{
    width: 100%;
    max-width: 50px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    color: black;
}

.block-3 .count{
    max-width: 185px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.block-4{
    padding-top: 65px;
    max-height: 1000px;
    height: 100%;
}

.block-4 .content{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-4 #how-many{
    max-width: 50px;
    text-align: center;
    font-size: 30px;
    font-family: "Forum", serif;
    color: white;
}

.block-4 #total-cost{
    max-width: 100px;
    text-align: center;
    font-size: 30px;
    font-family: "Forum", serif;
    color: white;
}

.block-4 .purchase{
    font-size: 30px;
    color: white;
}

.block-4 .buy{
    max-width: 440px;
    width: 100%;
    border-radius: 10px;
    background-color:#D9C5A1;
    border-color: transparent;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
    height: 100px;
}

/* .bottom{
    padding-top: 300px;
} */

#bottom-pic{
    padding-top: 50px;
    bottom: -10px;
    /* position: absolute; */
    left: 0;
    width: 100%;
    position: relative;
}

/* #bottom-grad{
    position: relative;
    left: 0;
    width: 100%;
    z-index: 3;
}
*/

@media (max-width: 1200px){
    .block-2 .main-text #first{
        font-size: 60px;
    }

    .block-2 .main-text #second{
        font-size: 25px;
        padding-top: 60px;
    }

    .block-2 .list{
        font-size: 25px;
        line-height: 35px;
        padding-top: 50px;
    }

    .block-3{
        padding-top: 100px;
    }

    .block-3 .cat{
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 25px;
    }

    .block-3 .num input{
        font-size: 30px;
    }

    .block-4 .purchase{
        font-size: 25px;
    }

    .block-4 .buy{
        max-width: 350px;
        width: 100%;
        font-size: 25px;
        height: 75px;
    
    }

    .block-3 .count{
        max-width: 150px;
    }

    .block-3 .sub, .block-3 .add{   
        flex: 0 0 40px;     
        height: 40px;
    }
}

@media (max-width: 1000px){
    .block-2 .main-text #first{
        font-size: 45px;
    }

    .block-2 .main-text #second{
        font-size: 22px;
    }

    .block-2 .main-text #second{
        padding-top: 60px;
    }

    .block-2 .list{
        font-size: 22px;
        line-height: 35px;
        padding-top: 50px;
    }

    .block-3{
        padding-top: 80px;
    }

    .block-3 .count{
        max-width: 125px;
    }

    .block-3 .cat{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 22px;
    }

    .block-3 .num input{
        font-size: 25px;
    }

    .block-4 .purchase{
        font-size: 22px;
    }

    .block-4 .buy{
        max-width: 250px;
        width: 100%;
        font-size: 22px;
        height: 75px;
    
    }
    .block-3 .sub, .block-3 .add{  
        flex: 0 0 35px;           
        height: 35px;
    }
}

@media (max-width: 800px){
    .block-2 .main-text #second{
        font-size: 22px;
    }

    .block-2 .list{
        line-height: 30px;
        padding-top: 50px;
    }

    .block-3{
        padding-top: 60px;
    }

    .block-3 .name{
        max-width: 200px;
    }


    .block-4 .buy{
        max-width: 225px;
        width: 100%;
        font-size: 20px;
        height: 65px;
    }

    .block-3 .ticket-list{ 
        border-radius: 40px;
    }
}

@media (max-width: 700px){
    .block-4 .content{
        margin: 0 auto;
        display: block;
    }
    
    .block-4 .buy{
        float: right;
    }
}

@media (max-width: 600px){
    .block-2 .main-text #first{
        font-size: 40px;
    }

    .block-2 .main-text #second{
        font-size: 20px;
    }

    .block-2 .main-text #second{
        padding-top: 60px;
    }

    .block-2 .list{
        font-size: 20px;
        line-height: 25px;
        padding-top: 50px;
    }

    .block-3{
        padding-top: 80px;
    }

    .block-3 .name{
        max-width: 175px;
    }

    .block-3 .cost{
        max-width: 60px;
    }

    .block-3 .count{
        max-width: 100px;
    }

    .block-3 .cat{
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
    }

    .block-3 .num input{
        font-size: 22px;
    }

    .block-4 .purchase{
        font-size: 20px;
        padding-bottom: 15px;
    }

    .block-4 #total-cost, .block-4 #how-many{
        font-size: 25px;
    }

    .block-4 .buy{
        max-width: 200px;
        width: 100%;
        font-size: 22px;
        height: 65px;
    }
    
    .block-3 .sub, .block-3 .add{  
        font-size: 20px;
        flex: 0 0 30px;           
        height: 30px;
    }

    .block-3 .ticket-list{ 
        border-radius: 35px;
    }

    .block-4 .content{
        display: block;
    }
}

@media (max-width: 500px){
    .block-2 .main-text #first{
        font-size: 35px;
    }

    .block-2 .main-text #second{
        font-size: 20px;
        padding-top: 40px;

    }

    .block-2 .list{
        font-size: 18px;
        padding-top: 40px;
    }

    .block-3{
        padding-top: 70px;
    }

    .block-3 .name{
        max-width: 125px;
        padding-left: 10px;
    }

    .block-3 .cost{
        max-width: 60px;
    }

    .block-3 .count{
        max-width: 80px;
        padding-right: 10px;
    }

    .block-3 .cat{
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 15px;
    }

    .block-3 .num input{
        font-size: 18px;
    }

    .block-4{
        padding-top: 50px;
    }

    .block-4 .purchase{
        font-size: 20px;
    }

    .block-4 #total-cost, .block-4 #how-many{
        font-size: 20px;
    }

    .block-4 .buy{
        max-width: 175px;
        width: 100%;
        font-size: 18px;
        height: 50px;
    }
    
    .block-3 .sub, .block-3 .add{  
        font-size: 18px;
        flex: 0 0 25px;           
        height: 25px;
    }

    .block-3 .ticket-list{ 
        border-radius: 30px;
    }

    .block-4 .content{
        margin: 0 auto;
        display: block;
        justify-content: space-between;
        align-items: center;
    }
}